body {
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background-color 0.5s;
}

.imagen-interactiva {
    width: 300px;
    transition: transform 0.3s;
}

.imagen-interactiva:hover {
    transform: scale(1.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
